#LANGUAGE_ONBOARD {
  list-style: none;
  margin: 1rem;
  position: fixed;
  top: 120px;
  right: -250px;
  z-index: 1300;
  background-color: transparent;
  padding: 1em;
  height: auto;
  width: auto;
  transition: right 0.6s ease;
}

#LANGUAGE_ONBOARD.open {
  right: -40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 108px;
  background-color: transparent;
}
/* From Uiverse.io by devanshsatwara */
.ui-btn {
  --btn-default-bg: #010314;
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #7241ff;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
}

.toggle-button {
  z-index: 1098;
  width: 80px;
  font-weight: 600;
  padding: 0.5em;
  cursor: pointer;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 2px;
  color: var(--greenStyle);
  &:hover {
    background: var(--violetFull5);
  }
}

.iconLanguage {
  font-size: 1em;
}

.toggle-button > p {
  font-size: 0.5em;
  margin-top: 2px;
  text-align: center;
}

.example-2 {
  display: flex;
  flex-direction: column;
  z-index: 2000;
}

.example-2 .icon-content {
  margin: 10px 0;
  position: relative;
  cursor: pointer;
  width: 90px;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 20%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: white;
}

.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}

.example-2 .icon-content a img {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  /* border: 1px solid black; */
  border-radius: 50%;
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="Argentina"] .filled,
.example-2 .icon-content a[data-social="Argentina"] ~ .tooltip {
  background: linear-gradient(
    to bottom,
    #74acdf 33.33%,
    white 33.33% 66.66%,
    #74acdf 66.66%
  );
}

.example-2 .icon-content a[data-social="EEUU"] .filled,
.example-2 .icon-content a[data-social="EEUU"] ~ .tooltip {
  background: repeating-linear-gradient(
    to bottom,
    #b22234,
    #b22234 10%,
    white 10%,
    white 20%
  );
}

.example-2 .icon-content a[data-social="Brasil"] .filled,
.example-2 .icon-content a[data-social="Brasil"] ~ .tooltip {
  background: radial-gradient(
    circle at center,
    #002776 20%,
    #f7d117 40%,
    #009739 70%
  );
}

.example-2 .icon-content a[data-social="China"] .filled,
.example-2 .icon-content a[data-social="China"] ~ .tooltip {
  background: linear-gradient(to right, #ff0000 80%, #de2910 80%, #ffde00 20%);
}

.example-2 .icon-content a[data-social="Alemania"] .filled,
.example-2 .icon-content a[data-social="Alemania"] ~ .tooltip {
  background: linear-gradient(to top, black 33.33%, red 53.33%, yellow 66.66%);
}
