@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
  color-scheme: light dark;
  background-color: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --violetFull1: #4a235a;
  --violetFull2: #5b2c6f;
  --violetFull3: #6c3483;
  --violetFull4: #7d3c98;
  --violetFull5: #8e44ad;

  --silverFull1: #7b7d7d;
  --silverFull2: #979a9a;
  --silverFull3: #b3b6b7;
  --silverFull4: #d0d3d4;
  --silverFull5: #cacfd2;
  --silverFull6: #d7dbdd;
  --silverFull7: #e5e7e9;
}

#root {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--violetFull1);
}

::-webkit-scrollbar-thumb {
  background: var(--violetFull5);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--violetFull3);
}
